/* Styles pour les champs de saisie flottants */
.form-floating {
  margin-bottom: 15px;
}

.form-floating label {
  color: #555;
  font-size: 16px;
}

.form-floating input {
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.form-floating input:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
}

/* Styles pour la boîte de dialogue */
.mat-dialog-container {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Styles pour le titre de la boîte de dialogue */
.custom-dialog-title {
  text-align: center;
  /* background-color: #555; */
  color: #fff;
  padding: 10px;
  /* border-top-left-radius: 10px;
  border-top-right-radius: 10px; */
}

/* Styles pour le contenu de la boîte de dialogue */
.custom-dialog {
  padding: 20px;
}

/* Styles pour les actions de la boîte de dialogue */
.mat-action {
  display: flex;
  justify-content: center;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.mat-action button {
  margin: 0 5px;
  color: #080808;
}
